{% extends 'base.html' %}


{% block titulo %} WeHousinn {% endblock %}

{% load static %}
{% block contenido %}
    <header class="site-navbar py-4 bg-white js-sticky-header site-navbar-target" role="banner">
      
        <div class="container">
          <div class="row align-items-center">
            
            <div class="col-11 col-xl-2">
              <img class="logo"  src ="images/logo.jpeg" alt="">
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
              <nav class="site-navigation position-relative text-right" role="navigation">
    
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                  <li><a href="#home-section" class="nav-link">Inicio</a></li>
                  <li><a href="#work-section" class="nav-link">Proyecto</a></li>
                  <li>
                    <a href="#services-section" class="nav-link">Servicios</a>
                  </li>
                  <li class="has-children">
                    <a href="#about-section" class="nav-link">Nosotros</a>
                    <ul class="dropdown">
                      <li><a href="#about-section">Quienes somos</a></li>
                      <li><a href="#team-section">Desarrolladores</a></li>
                    </ul>
                  </li>
                  <li class="has-children">
                    <a href="#about-section" class="nav-link">Documentos</a>
                    <ul class="dropdown">
                      <li><a href ="C:\Users\Administrator\Desktop\6to trimestre\Landing\images/MER Base de Datos Documentos por Proyecto.png" target="_blank">MER</a></li>
                      <li><a href="#team-section">...</a></li>
                    </ul>
                  </li>
                  <li><a href="#contact-section" class="nav-link">Contacto</a></li>
                </ul>
              </nav>
            </div>
    
    
            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
    
          </div>
        </div>
    
    
        <div class="site-blocks-cover overlay" style="background-image: url('{% static 'assets/media/back.jpg' %}'); data-aos="fade" data-stellar-background-ratio="0.8">
          <div class="container">
            <div class="row align-items-center justify-content-center text-center">
    
              <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                            
                <div class="row justify-content-center mb-4">
                  <div class="col-md-8 text-center">
                    <h1>WeHoussinn</h1>
                    
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>  
        
      </header>



      <div class="site-section" id="about-section">
        <div class="container">
          <div class="row mb-5">
            
    
              <div class="row">
    
                <div class="col-12">
                  <div class="text-left pb-1">
                    <h2 class="text-black h1 site-section-heading">Sobre nosotros</h2>
                  </div>
                </div>
                <div class="col-12 mb-4">
                  <p class="lead">Basada en la compra y venta de bienes raíces. WeHousinn se adapta a las nuevas tecnologías para lograr un  mayor alcance, permitiendo a los clientes mayor facilidad para encontrar lo que más les beneficie para su comodidad.</p>
                </div>
                <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
                  <div class="unit-4">
                    <div class="unit-4-icon mr-4 mb-3"><span class="text-secondary icon-phonelink"></span></div>
                    <div>
                      <h3>Busca en la web</h3>
                      <p>Compra y vende tus inmuebles todo por internet</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
                  <div class="unit-4">
                    <div class="unit-4-icon mr-4 mb-3"><span class="text-secondary icon-extension"></span></div>
                    <div>
                      <h3>Ideas inovadoras</h3>
                      <p>Trasladar el tedioso trabajo de salir a buscar inmuebles se hace mucho más fácil y rapido por nuestra página</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    
      
      <div class="site-section border-bottom" id="team-section">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
              <h2 class="text-black h1 site-section-heading">Desarrolladores</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
              <div class="person text-center">
                <img src="{% static 'assets\images\laurens.jpg' %}" alt="Image" class="img-fluid rounded-circle w-50 mb-3">
                <h3>Juan José Laurens</h3>
                <p class="position text-muted">Desarollador FRONT-END</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
              <div class="person text-center">
                <img src="{% static 'assets\images\juanda.jpg' %}"alt="Image" class="img-fluid rounded-circle w-50 mb-5">
                <h3>Juan Piedrahita</h3>
                <p class="position text-muted">Desarollador BACK-END</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
              <div class="person text-center">
                <img src="{% static 'assets\images\logo.jpeg' %}" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
                <h3>WeHousinn</h3>
                <p class="position text-muted">Agencia Inmobiliaria</p>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}